.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Ignore build folders
bin/
obj/

# Ignore other files that should not be committed
*.user
*.userosscache
*.suo
*.cache
*.csproj.files
*.csproj.user
*.pfx
*.publishsettings
